* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    font-family: 'Lato', sans-serif;
    background: #222222;
}

li {
    list-style: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area {
    margin-bottom: 20px;
}

.movie {
    margin-bottom: 20px;
    flex-basis: 300px;
    position: relative;
}

.movie:hover .movie-data {
    opacity: 1;
}

.flag {
    height: 10px;
}

.fas.fa-star {
    color: #FFD700;
}

.movie-data {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 200ms;
}

.movie-data li {
    margin-bottom: 5px;
}

.movie-data li span:first-child {
    font-weight: 700;
    margin-right: 5px;
    color: red;
}


.display-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.poster {
    width: 100%;
}